.main{
    width: 1000px;
    height: 540px;
    background-color: rgb(135, 200, 225);   
}
.row1{
    width: 1000px;
    height: 100px;
    color: rgb(37, 25, 25);
    font-size: 30px;
    background-color: #a563b8;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
.row2{
    width: 1000px;
    height: 40px;
    background-color: #607D8B;
   
}
.row2c1{
    width: 200px;
    height: 40px;
    float: left;
}